<style>
  .progress-bar-custom {
    color: #1e1248;
    /*display: flex;*/
    width: 100%;
    /*justify-content: center;*/
    position: relative;
    left: 31px;
  }
  .bar {
    position: absolute;
    background-color: #1e1248;
    height: 3px;
    width: 64%;
    z-index: -1;
    left: 30px;
    top: -6px;
  }
  .progress-inner {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: space-around;
  }
  .order {
    padding: 3px 8px;
    border: 3px solid #1e1248;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-weight: bold;
    background-color: white;
  }
  .order.active {
    background-color: #1e1248;
    color: white;
  }
  .step.active {
    font-weight: bold;
  }
  label {
    position: relative;
    top: 33px;
    left: -50%;
  }
</style>

<div class="progress-bar-custom">
  <ul class="progress-inner">
    <li class="progress-inner-step">
      <span class="order">1</span>
      <label for="step-1" class="step">Profile</label>
    </li>
    <li class="progress-inner-step">
      <span class="order active">2</span>
      <label for="step-2" class="step active">Discover</label>
    </li>
    <li class="progress-inner-step">
      <span class="order">3</span>
      <label for="step-3" class="step">Roadmap</label>
    </li>
    <hr class="bar">
  </ul>
</div>

  <div id="question-carousel" class="carousel slide" data-wrap="false" data-interval="false">
    <!-- iterate over questions (li) -->
    <% value = 0 %>
    <ol class="carousel-indicators">
      <% @questions.each_with_index do |question, index| %>
      <% if index == 0 %>
      <li data-target="#question-carousel" data-slide-to="0" class="active"></li>
      <% else  %>
      <li data-target="#question-carousel" data-slide-to="<%= index %>"></li>
      <% end %>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @questions.each_with_index do |question, index| %>
      <% if index == 0 %>
      <div class="carousel-item active">
        <% else  %>
        <div class="carousel-item">
          <% end %>
          <div class="card" alt="First slide">
            <div class="card-body">
              <h5 class="card-title text-center">Question <%= index + 1 %></h5>
              <p class="card-text text-center"><%=question.text.html_safe%></p>
              <div class=" d-flex justify-content-center ">

                <% question.answers.each_with_index do |answer, index| %>
                <% value += 1 %>
                <% if value > 20 %>
                     <%= link_to "<span class='answer-text'>#{answer.text}</span><i class='#{answer.kasi.icon} icon'></i>".html_safe, professions_index_path, class:"btn btn-outline-secondary answers"%>
                  <% else %>
                     <%= link_to "<span class='answer-text'>#{answer.text}</span><i class='#{answer.kasi.icon} icon'></i>".html_safe, "#question-carousel", class:"btn btn-outline-secondary answers", 'data-slide': "next"%>
                  <% end %>
                <% end %>
                <!-- {answer:'test'}, html_options={class:"btn btn-outline-secondary",data:{slide:"next"}}
                -->

              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#question-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#question-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <% end %>
      </div>
    </div>
  </div>
