<div class="inner-container col-12">
  <div class="carousel-wrapper">
    <h2>The ultimate App for graduates</h2>
    <hr>
    <div class="carousel-item-text sub">
      <p></p>
      <p>Actually you might not even be sure of your dream job...</p>
      <p>There are so many appealing career paths...</p>
      <p>you keep on searching...</p>
      <p>And even wonder where you belong!</p>
      <p>Does it ring a bell?</p>
    </div>
    <hr>
  </div>

  <h1>TruePath</h1>
  <p class="sub">Finding direction in a world full of opportunity</p>
  <p>You don't know where to start your career? You aren't sure where to take your wisdom? After all, there are so many appealing career paths out there. If you don't know where you belong, TruePath might offer some insight.</p>

  <div class="row box">
    <div class="test-box">
      <div>
        <img src="<%= image_url('enneagram.png') %>">
      </div>
      <div>
        <h3 style="margin: 4px 0;">Discover your <strong>true</strong> self</h3>
        <div>Run a comprehensive personality test</div>
      </div>
    </div>

    <div class="test-box">
      <div>
        <img src="<%= image_url('careerstests.png') %>">
      </div>
      <div style="">
        <h3 style="margin: 4px 0;">Determine your <strong>true</strong> aspirational profession</h3>
        <div>Choose among well matching professions</div>
      </div>
    </div>

    <div class="test-box">
      <div style="">
        <img src="<%= image_url('bigfive.png') %>">
      </div>
      <div style="">
        <h3 style="margin: 4px 0;">Put together your own career <strong>path</strong></h3>
        <div>Pick and choose among the advised steps</div>
      </div>
    </div>
    <div class="test-box">
      <div style="">
        <img src="<%= image_url('more.png') %>">
      </div>
      <div style="">
        <h3 style="margin: 4px 0;">Spot your next <strong>dream job</strong> on the Market</h3>
        <div>View and select your matching next job</div>
      </div>
    </div>
    <div class="test-box">
      <div style="">
        <img src="<%= image_url('disc.png') %>">
      </div>
      <div style="">
        <h3 style="margin: 4px 0;">Keep following your <strong>true path</strong></h3>
        <div>Step by step, get closer to your aspirational profession</div>
      </div>
    </div>
  </div>

    <a href="welcome" class="btn btn-primary btn-lg btn-block mt-5">Shall we start?</a>

</div>

<footer id="footer">
  <div class="footer-wide">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>
  <p>This app was coded with <i class="fas fa-heart"></i> by Louis, Daniel, Charline and Alex</p>
</footer>



