<style>
  h6.card-title {
    display: flex;
    align-items: center;
  }
  .location-logo {
    margin-right: 10px;
    width: 20px;
  }
  .company-logo {
    width: 20px;
    margin-right: 10px;
    /*border: 1px solid transparent;*/
    /*border-radius: 50%;*/
    /*box-shadow: 1px 1px 11px 0.15px rgba(0,0,0,0.15);*/
  }
  .job-tags {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
    padding-left: 0;
  }
  .job-tags li {
    padding-left: 0;
    background-color: #1E1248;
    color: white;
    font-weight: bold;
    letter-spacing: 0.6px;
    font-size: 0.7em;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 3px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    /*border: 1px solid black;*/
    background-image: none;
  }

  .carousel-control-next-icon:after
  {
    content: '▶';
    font-size: 15px;
    color: #1E1248;
  }

  .carousel-control-prev-icon:after {
    content: '◀';
    font-size: 15px;
    color: #1E1248;
  }

  .card-body {
    padding: 1rem 4.25rem;
  }

  #jobs-carousel {
    height: 560px;
  }
  .card {
    max-height: 420px;
    overflow: scroll;
    border: none;
  }
  .carousel-inner {
    position: relative;
  }
  .btm-shade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    left: 0;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7588325652841782) 85%, rgba(255,255,255,1) 100%);
  }
  .jobs-heading {
    margin-top: 0 !important;
  }
  .container.mt-3 {
    margin-top: 60px !important;
  }
</style>

<div class="exit-btn-wrapper">
  <%= link_to :back do %>
    <div class= "btn exit-btn">X</div>
  <% end %>
</div>
<h3 class= "jobs-heading">Relevant openings for <%= @jobs[0][:title] %></h3>
<div id="jobs-carousel" class="carousel slide" data-wrap="false" data-interval="false" data-ride="carousel">
  <ol class="carousel-indicators">
    <!-- iterate over questions (li) -->
    <% @jobs.each_with_index do |job, index| %>
      <% if index == 0 %>
        <li data-target="#jobs-carousel" data-slide-to="0" class="active"></li>
      <% else  %>
        <li data-target="#jobs-carousel" data-slide-to="<%= index %>"></li>
      <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% @jobs.each_with_index do |job, index| %>
      <% class_name = index == 0 ? 'carousel-item active' : 'carousel-item'  %>
        <div class="<%= class_name %>">
          <div class="card" alt="First slide">
              <div class="card-body">
                <h5 class="card-title"><%= job[:title] %></h5>
                <h6 class="card-title"><%= image_tag("berlin.svg", class: 'location-logo') if job[:location] == 'Berlin' %><%= job[:location] %></h6>
                <h6 class="card-title">
                  <%= job[:company] == 'Zalando' ? "<img src='https://pbs.twimg.com/profile_images/1101484514277240832/6bY0Q187.png' class='company-logo'>".html_safe : "" %>
                  <%= job[:company] == 'ImmoScout24' ? "<img src='https://www.scout24.com/media/scout24/user_upload/ImmoScout24_Logo_w3000px.png' class='company-logo'>".html_safe : "" %>
                  <%= job[:company] == 'interact.io' ? "<img src='https://www.interact.io/wp-content/uploads/2018/06/interact_logo-300x69.png' class='company-logo'>".html_safe : "" %>
                  <%= job[:company] %>
                </h6>
                <ul class="job-tags">
                  <% if job[:company] == 'Zalando' %>
                    <li>Remote</li>
                    <li>Above-average salary</li>
                  <% elsif job[:company] == 'ImmoScout24' %>
                    <li>Flexible Hours</li>
                    <li>Central Location</li>
                  <% else %>
                    <li>Top Employer</li>
                    <li>Mobile Application</li>
                  <% end %>
                </ul>
                <p class="card-text"><%= job[:description] %></p>
                <br>
                <a href="#" class="btn btn-primary btn-lg btn-block">Apply</a>
                <br>
                <br>
                <br>
                <br>
              </div>
          </div>
        </div>
    <% end %>
    <div class="btm-shade"></div>
  </div>
  <a class="carousel-control-prev" href="#jobs-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#jobs-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
