<%# <h1>Pages#Roadmap</h1>
<p>Find me in app/views/professions/id</p> %>

  <div class="container">
    <div class="row justify-content-center">
        <h1>Your<i><b> Truepath </b></i> for <%=@profession.track%></h1>
        <p>This is your roadmap for the <%= @profession.track %> track. Check it out, see for yourself at which step you currently stand and find the corresponding current openings on the job market.</p>
        <a href="/professions/Product%20Management%20Intern/jobs" class="btn btn-primary">Find your next job</a>
    </div>
  </div>

  <div class="container-fluid blue-bg">
    <div class="roadmap">
      <h2 class="pb-3 pt-2 Vertical Left-Right Timeline"></h2>
        <% (1..@max_order).to_a.each do |order_number| %>
          <% if !order_number.even? %>
<!-- first section -->
          <div class="row align-items-center how-it-works">
            <div class="col-2 text-center full_left">
              <div class="circle"><%= order_number %></div>
            </div>
            <div class="col-9 offset-1">
              <% @steps.where(order: order_number - 1).each do |step| %>
              <div class="d-flex align-items-center">
                <% if step.user_completed_steps.pluck(:user_id).uniq.include?(current_user.id) %>
                  <Input type="checkbox" name=<%= step.name %> checked ='checked'>
                  <% else %>
                  <Input type="checkbox" name=<%= step.name %>>
                <% end %>
                <p class="mx-2 h5-checkbox"><%= link_to step.name, profession_step_jobs_path(step.name) %></p>
              </div>
              <% end %>
            </div>
          </div>
  <!-- path in between -->
          <div class="row timeline">
            <div class="col-2">
              <div class="corner top-right"></div>
            </div>
            <div class="col-8">
              <hr/>
            </div>
            <div class="col-2">
              <div class="corner left-bottom"></div>
            </div>
          </div>

          <% else %>
    <!-- second section -->
            <div class="row align-items-center justify-content-end how-it-works">
              <div class="col-6 text-right">
                <% @steps.where(order: order_number - 1).each do |step| %>
                <div class="d-flex align-items-center">
                   <p class="mx-2 h5-checkbox"><%= link_to step.name, profession_step_jobs_path(step.name) %></p>
                  <% if step.user_completed_steps.pluck(:user_id).uniq.include?(current_user.id) %>
                    <Input type="checkbox" name=<%= step.name %> checked ='checked'>
                    <% else %>
                    <Input type="checkbox" name=<%= step.name %>>
                  <% end %>
                </div>
                <% end %>
              </div>
              <div class="col-2 text-center full">
                <div class="circle"><%= order_number %></div>
              </div>
            </div>
    <!-- path in between -->
            <div class="row timeline">
              <div class="col-2">
                <div class="corner right-bottom"></div>
              </div>
              <div class="col-8">
                <hr/>
              </div>
              <div class="col-2">
                <div class="corner top-left"></div>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>




